body {
  font-family: 'Roboto', sans-serif; 
  background-image: url("https://i.pinimg.com/originals/f3/61/40/f36140b3967c31155e8725b5163df2d5.jpg");
  background-attachment: scroll;
  background-position: center;
  height: 100vh;
  margin: 0;
}


header h1 {
  color: rgb(255, 255, 255);
  font-size: 200%;
  text-shadow: 0px 0px 5px black;
  text-align: left;
  display: flex;
  padding: 20px;
  margin: 0;
}

header h2 {
  margin: 0;
  line-height: 1.2;
  color: white;
  padding-left: 20px;
  font-size: 1.2em;
}


nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: rgba(8, 8, 8, 0.31);
  margin-top: 10px;
  border-radius: 15px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: larger;
}
nav i{
  text-decoration: none;
  color: white;

}

.search {
  display: flex;
  justify-content: center;
  padding: 20px;
}

input[type="text"] {
  height: 30px; 
  width: 700px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.763);
  border: 1px solid black;
  padding-left: 10px;
  font-size: medium;
}

input::placeholder {
  color: black;
  font-size: medium;
}

/* Button styles */
button {
  height: 40px;
  width: 150px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.763);
  font-style: italic;
  font-size: medium;
  cursor: pointer;
  animation: pop 1.5s ease-in-out infinite;
}
@keyframes pop{
  0%,100%{
      transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}
header h1 b {
  margin-right: auto; 
}

div img{
  margin-top: 30px ;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}
div h1 {
  font-size: 4em; 
  color: #ffffff; 
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  animation: wave 1.5s ease-in-out infinite; 
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-15px); 
  }
  40% {
      transform: translateY(10px); 
  }
  60% {
      transform: translateY(-10px); 
  }
  80% {
      transform: translateY(5px); 
  }
}

 nav div p button{
  width: 400px;
  height: 100px;
  border-radius: 0px;
  background-color:rgba(255, 255, 255, 0.474);
  margin-left:20px;
}
p{
  font-size: xx-large;
  color: antiquewhite;
  margin-left: 50px;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: #000000;
}

.row img {
  border-radius: 8px;
}
h1{
  font-size: 3em; 
  text-align: center;
  justify-content: center;
  
}
div p{
  justify-content: center;
  align-items: center;
  justify-items: center;
}
div a{
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-wrap:wrap;
  align-content: space-between;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
}

.destination {
  display: flex;
  align-items: center;
  width: calc(33.33% - 13.33px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.619);
  border-radius: 8px;
  margin-bottom: 20px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.destination img {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-right: 10px;
}

.destination h3 {
  margin: 0;
  font-size: 1.2em;
}

.destination p {
  margin: 5px;
  font-size: 0.9em;
  color: black;
}
.container1 {
  margin: 20px auto;
  background: #ffffff94;
  padding: 20px;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 h2 {
  color: #000000;
  font-size: small;
}

p {
  color: #000000;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #000000;
}

.contact-form {
  margin-top: 20px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.contact-form button:hover {
  background-color: #4cae4c;
}